<div class="container" style="max-width: 500px">

  <button type="button" (click)="googleSignin()" class="btn btn-block btn-primary">Signin with Google</button>

  <div *ngIf="isSignedin === true" class="mt-4">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [value]="user.firstName" class="form-control" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [value]="user.lastName" class="form-control" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" [value]="user.email" class="form-control" id="email" readonly>
    </div>
    <!-- <button type="button" (click)="logout()" class="btn btn-primary">Log Out</button> -->
  </div>

</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">Image</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userData">
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.email}}</td>
        <!-- <td><img src={{data.photoUrl}} alt="Image"></td> -->
      </tr>
    </tbody>
  </table>
</div>
